html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* * * * * * * * * * * * * * AFTER NORMALIZE * * * * * * * * * * * * * * */
// * * * * PARTS
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
p,
a,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  @include fontSize(2.5rem);
  font-family: $bodyFont;
  padding: 20px 0;
  text-shadow: 1px 1px 1px $secondary;
  text-align: center;
}

p,
a {
  color: $black;
}

// * * * * LINKS
a {
  text-decoration: none;
}

a:hover,
a:active {
  color: $third;
  text-shadow: 1px 1px 1px $black, 1px 1px 5px $secondary;
}

p.link {
  text-align: center;
  margin-bottom: 1em;
}

// * * * * INPUTS
input {
  font-family: $bodyFont;
  color: $black;
}

input:focus-within,
select:focus-within,
textarea:focus-within {
  background: $accent;
  outline: none;
  border: 2px solid $black;
}

// * * * * BLOCKS
body {
  font-family: $bodyFont;
  color: $primary;
  font-size: 2rem;
  text-align: center;
}

// MOBILE FIRST SIZING
.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

main {
  width: 100%;
  @include flexbox(
    $placeItems: center,
    $placeContent: center,
    $direction: column,
    $wrap: wrap
  );
}

section {
  width: 100%;
  border: 2px solid $secondary;
  margin: 1em 0;
  padding: 0.5em;
  @include flexbox(
    $placeItems: center,
    $placeContent: center,
    $direction: column,
    $wrap: wrap
  );
}

section h1,
section h1 span {
  display: block;
}

.section-content {
  width: 100%;
  @include flexbox(
    $placeItems: center,
    $placeContent: space-around,
    $direction: row,
    $wrap: wrap
  );
}

.left,
.right {
  width: 100%;
  text-align: left;
  padding: 1em;
  @include flexbox(
    $placeItems: center,
    $placeContent: center,
    $direction: column,
    $wrap: wrap
  );
}

.image-container {
  padding: 0.5em;
  @include flexbox(
    $placeItems: center,
    $placeContent: center,
    $direction: column,
    $wrap: wrap
  );
}

.image-container img {
  width: 90%;
}

/* * * * * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * * * */
@media only screen and (min-width: 900px) {
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  .section-content {
    @include flexbox(
      $placeItems: center,
      $placeContent: center,
      $direction: column,
      $wrap: wrap
    );
  }

  // .left,
  // .right {
  //   width: 100%;
  // }
}
